* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: red; */
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4FBF8;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.sub-text {
    color: #555555;
    font-size: 0.9rem;
    margin: 10px 0 20px 0;
    text-align: center;
}
#loginContent {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: solid 1px #ccc;
    border-radius: 8px;
    background-color: #fff;
}

#loginContent h2 {
    text-align: center;
    margin-bottom: 20px;
}

#loginContent button{
    width: 100%;
    margin-top: 10px;
}
#transactionForm {
    
}

td {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#transactionTable {
    width: 1200px;
    /* display: none; */
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
}

#transactionTable h3 {
    margin-bottom: 10px;
}
#transactionTable table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 100%;

    margin: 0 auto;
}

#transactionTable table thead tr {
    background-color: #03d47c;
    text-align: left;
    color:white;
}

#transactionTable th, #transactionTable td {
    padding: 12px 15px;
}

#transactionTable tbody tr {
    border-bottom: solid 1px #dddddd;
}

#transactionTable tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

#transactionTable th,
#transactionTable td {
    width: 33.33%;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.open{
    opacity: 100%;
    z-index: 9999;
}

.modal-box {
    background: white;
    padding: 25px;
    border-radius: 8px;
    min-width: 500px;
}

label {
    color: #888;
}


#modal h3 {
    margin-bottom: 20px;
}

button {
    padding: 12px 15px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button--primary {
    background-color: #03d47c;
    color: white;
}

.button--secondary {
    background-color: #aaa;
    color: black;
}

.buttonContainer {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 20px;
}

/* #createTransBtn {
    margin-right: 30px;
} */


.header {
    height: 80px;
    width: 100%;
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin-bottom: 30px;
}
.logo {
    color: #03d47c;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 30px;
}

h1.title {
    margin: 10px;
}


h3 {
    font-size: 1.2rem;
   
}

/* SPINNER */
.spinner {
    width: 45px;
    height: 45px;
    border: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    border-top: 5px solid transparent;

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;

    transform: translate(-50%, -50%);


    display: none;
}

.spinner.show {
    display: block;
}

@keyframes spin {
   to {transform:  translate(-50%, -50%) rotate(360deg);} 
}


input {
    width: 100%;
    /* width: 250px; */
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: solid 1px #ccc;
    margin: 5px 0 10px 0;

}

/* label {
    margin: 5px 0 10px 0;
} */

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonsContainer button {
    margin-left: 10px;
}